.container {
  color: hsla(219deg, 91%, 20%, 100%);
  font-family: inherit;
  position: relative;
}
.container input,
.container select {
  display: block;
  height: 36px;
  margin-top: 4px;
  padding: 4px 6px;
  border: 1.5px solid hsla(219deg, 91%, 20%, 100%);
  border-radius: 4px;
  outline-color: hsla(219deg, 91%, 59%, 100%);
}

.container.error input {
  outline-color: hsla(0deg, 87%, 52%, 100%);
  border: 1.5px solid hsla(0deg, 87%, 52%, 100%);
}

.container .errorMessage {
  font-size: 0.8rem;
  position: absolute;
  bottom: -1.1rem;
  color: hsla(0deg, 87%, 52%, 100%);
}
