.container {
  color: hsla(219deg, 91%, 20%, 100%);
  font-family: inherit;
}
.container input,
.container select {
  display: block;
  height: 36px;
  margin-top: 4px;
  padding: 4px 6px;
  border: 1.5px solid hsla(219deg, 91%, 20%, 100%);
  border-radius: 4px;
  outline-color: hsla(219deg, 91%, 59%, 100%);
}
