.button {
    /* button reset */
    border: none;
    overflow: visible;
    width: 100%;
    text-decoration: none;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    cursor: pointer;

    font-weight: 400;
    transition: all 200ms;

    padding: 15px 0px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 6px #003fc7;
}

.primary {
  color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  background: none;
}

