.button {
    /* button reset */
    border: none;
    padding: 1.5em;
    width: 100%;
    overflow: visible;
    text-decoration: none;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    cursor: pointer;

    font-weight: 400;
    transition: all 200ms;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.primary {
  color: #000000;
  border: 2px solid #000000;
}

.secondary {
  color: #000000;
  border: 2px solid #000000;
  height: 50px;
  padding: 0;
}