.button {
  border: solid 1px black;
  border-radius: 0px;
  height: 4em;
  width: auto;
  background-color: white;
  font-family: monospace;
  margin-top: 1.5em;
  min-width: 25em;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 6px #003fc7;
}

.primary {
  color: #ffffff;
  background: #2268FF;
}