.button {
    /* button reset */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-decoration: none;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    cursor: pointer;

    font-weight: 300;
    font-size: 16px;
    transition: all 200ms;

    border-radius: 9999px;
    padding: 5px 15px;
    margin: 10px 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 6px #003fc7;
}

.primary {
width: 100%;
border-radius: 0;
padding: 20px 0;
border: 2px solid black;
}

.info{
  border: none;
  color: grey;
}

.small{
  width: 20%;
border-radius: 0;
margin: 10px;
padding: 10px;
border: 2px solid black;
}
.entry{
  width: 30%;
  margin: 10px 10px 40px 10px;
}

.placeholder{
  width: 20%;
  margin: 10px;
}
 
.placeholder:hover{
  cursor: default;
}

.placeholder.button:focus{
  box-shadow: none;
}


