.labelContainer {
    gap: 15px;
}

.inputfield {
    width: 90vw;
    max-width: 300px;
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.lableText {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}