.paid{
    text-decoration: line-through;
}

.alignend{
    text-align: right;
}

.alignend button{
    height: 3em;
    width: 10em;
    min-width: 10em;
    margin-top: 0em;
    border: solid 1px black;
    border-radius: 0px;
    background-color: white;
    font-family: monospace;
}
tr {
    border-top: 1px solid;
    height: 4em;
    display: flex;
    justify-content: space-between;
}
tr * {
    align-self: center;
}
tr td:first-child{
    width:33%
}
tr td:nth-child(2){
    margin-right: 1em;
    flex: 1;
}
tr td:nth-child(3){
    width: 10em;
}