.signinformular {
    display: flex;
    flex-direction: column;
    width: 312px;
}

.formularWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}