.signinformular {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formularWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}