.inputfield {
  display: flex;
  flex-direction: column;
  min-width: 20em;
}

input[type=password], input[type=text], input[type=number] {
  min-width: 20em;
  height: 3.6em;
  font-family: monospace;
  margin-top: 0.3em;
  border: solid 1px black;
}
label {
  font-family: monospace;
  margin: 1em 0 0.5em 0;
}
